h2{

    cursor: pointer;
}

body{

    background-color: #222;
}

.certa{

    background-color: rgba(172, 255, 47, 0.747);
    border-radius: 5px;
}

.errada{

    background-color: rgba(255, 0, 0, 0.664);
    border-radius: 5px;
}