h2{

    cursor: pointer;
}

body{

    background-color: #222;
}

.certa{

    background-color: greenyellow;
    border-radius: 5px;
}

.errada{

    background-color: red;
    border-radius: 5px;
}